body, html {  
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #000;
}

/* NAVBAR */
.navbar-default {
  background-color: #FFFFFF;
  border: none !important;
}
.navbar-brand {
  height: auto !important;
  max-height: 65px !important;
  max-width: 400px;
  padding: 15px;
  margin-top: 10px;
}
.navbar-nav {
  margin: 0px;
}
.navbar-nav > li {
    float: left !important;
}
.nav > li > a {
  padding: 10px 3px;
}
.nav > li > a > img {
  height: 70px;
}

/* CONTENT */
.section {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

#section-0 {
  height: 90px;
}

#section-slide {
  background-image: #FFF;
  padding: 0px;
}

#section-slide2 {
  background-image: #FFF;
  padding: 0px;
}

/* Ambientes */
#section-ambientes {
  padding: 0px;
}
#section-ambientes div.col-md-5 {
	padding-top: 120px;
	text-align: center;
}
#section-ambientes div.col-md-5 h1 {
	font-size: 26px;
	font-weight: 600;
}
#section-ambientes div.col-md-5 p {
	font-size: 16px;
	max-width: 300px;
	line-height: 28px;
	margin: 0 auto;
}
#section-ambientes div.col-md-7 div.col-xs-4 {
	margin: 20px 0px;
}

/* Login / Cadastro */
#section-login {
  padding: 0px;
}
#section-login div.col-md-8 {
	padding: 0px;
	padding-top: 60px;
	text-align: center;
}
#section-login div.col-md-8 p {
	font-size: 16px;
	line-height: 28px;
	margin: 0 auto;
}
#section-login div.col-xs-3 {
	text-align: left;
}
#section-login div.col-xs-3 img {
	max-width: 120px;
}
#section-login div.col-xs-9 {
	padding-top: 30px;
}

#section-login .login-title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
#section-login .login-title h4 {
	width: 80%;
	font-size: 18px;
	margin: 0 auto;
	color: #A04D87
}
#section-login #formLogin label {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
}
#section-login #formLogin input {
	border: none;
	box-shadow: none;
	border-bottom: 2px solid;
}
#section-login #formLogin button {
	margin-top: 30px;
	padding: 18px 0px;
	font-size: 20px;
}

/* Briefings */
#section-briefings {
	padding: 0px;	
}
.briefing-item .col-xs-8 {
	padding: 5px 0px;
	font-size: 20px;
}
.briefing-item .col-xs-4 {
	padding: 0px;
}
.briefing-grid {
	display: none;	
}
.briefing-grid a {
	color: #000;
	font-weight: bold;
	padding: 0 15px;
}
.briefing-grid-item .col-xs-8 {
	padding: 0px;
	font-size: 16px;
}
.briefing-complemento-step {
	width: 90%;
	height: 80%;
	margin: 0;
	left: 5%;
	top: 15%;
	color: #FFF;
	font-size: 2em;
	line-height: 40px;
	position: fixed;
	z-index: 100001; 
}
.briefing-complemento-step .col-1 {
	text-align: center;
	margin-top: 30px;
}
.briefing-complemento-step .col-2 {
	margin-top: 30px;
}
.briefing-complemento-step .col-2-controle {
	float: left;
	min-width: 80px;
	margin-bottom: 10px;
	padding-top: 5px;
}
.briefing-complemento-step .col-2-texto {
	float: left;
	width: 90%;
	margin-bottom: 10px;
}
#briefing-medidas {
	background: #3fb7ca;
}

/* Footer */
#section-footer {
  padding-top: 0px;
}

/* Button Sim/Nao */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 70px;
  height: 40px;
  background-color: #dddddd;
  border-radius: 80px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 80px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 38px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}

#section-quemsomos {
  background-color: #F73F80;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 50px;
}

#section-quemsomos-interno {
  border-width: 5px;
  border-color: #FFFFFF;
  border-style: solid;
  width: 30%;
  margin: 0 auto;
}

#section-menudropdowncliente {
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .section {
        background-attachment: scroll;
    }
}

@media (max-width: 1040px) {
    .navbar-right {
        float: left !important;  
    }
}