body, html {  
  height: 100%;
  margin: 0;
  /*font: 400 15px/1.8 "Lato", sans-serif;*/
  font: 400 15px/1.8 "Lato", MyriadPro Regular, sans-serif;
  color: #000;
}

/* AVATAR */
.usuario-avatar {
  display: flex;
  padding: 5px;
  background: #3FB7CA;
  margin-top: 10px;
}
.usuario-avatar-text {
  width: 120px;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 15px;
  padding-top: 8px;
}
.usuario-avatar-img {
  width: 80px;
  overflow: hidden;
  text-align: center;
}
.usuario-avatar-img img {
  height: 60px;
  border: none;
  max-width: none;
  padding: 2px;
}

/* NAVBAR */
.navbar-default {
  display: none;
  background-color: #000;
  border: none !important;
}
.navbar-brand {
  height: auto !important;
  max-height: 65px !important;
  max-width: 400px;
  padding: 15px;
  margin-top: 10px;
}
.navbar-nav {
  margin: 0px;
}
.navbar-nav > li {
    float: left !important;
}
.nav > li > a {
  padding: 10px 3px;
}
.nav > li > a > img {
  height: 70px;
}

/* MENU LEFT */
#menu-nav-left {
  position: fixed;
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100023;
  background: #FFF;
  overflow: hidden;
  padding: 25px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  border-right: 1px #A04D87 solid;
}
#menu-nav-left:HOVER {
  width: 450px;
}
#nav-top img {
  margin-left: -5px;
  height: 60px;
  float: left;
}
#nav-top div {
  display: block;
  position: absolute;
  color: #6D6D6D;
  padding-left: 65px;
  margin-top: 5px;
  display: none;
}
#logo-menu-left-2 {
  display: none;
}
#nav-center {
  display: block;
  position: absolute;
  width: 400px;
  height: 320px;
  top: 50%;
  margin-top: -140px;
}
#nav-center ul {
  font-size: 35px;
  color: #AAA;
}
#nav-center ul li {
  padding-left: 35px;
}
#nav-center ul li a {
  color: #6D6D6D;
}
#nav-center ul li a:HOVER {
  color: #A04D87;
}
#nav-center #nav-center-outrositens {
  font-size: 20px;
  color: #AAA;
  padding-left: 78px;
}
#nav-center #nav-center-outrositens a {
  color: #6D6D6D;
}
#nav-center #nav-center-outrositens a:HOVER {
  color: #A04D87;
}
#nav-center #center-social {
  display: none;
  float: left;
  width: 230px;
  height: 30px;
  padding: 0px;
  padding-top: 20px;
}
#nav-center #center-social ul {
  list-style: none;
  padding-left: 20px;
}
#nav-center #center-social ul li {
  display: inline;
  padding: 0px;
}
#nav-center #center-social ul li img {
  height: 30px;
}

#nav-bottom {
  width: 400px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
#a-login {
  font-size: 20px;
  color: #A04D87;
}
#nav-bottom #bottom-social {
  display: none;
  float: left;
  width: 230px;
  height: 30px;
  padding: 0px;
  margin-left: 100px;
}
#nav-bottom #bottom-social ul {
  list-style: none;
}
#nav-bottom #bottom-social ul li {
  display: inline;
}
#nav-bottom #bottom-social ul li img {
  height: 30px;
}
#nav-bottom .pull-right {
  display: none;
}
/* Menu Mobile */
@media screen and (max-width: 800px){
  #menu-nav-left {
    position: fixed;
    width: 100% !important;
    height: 60px;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 100023;
    background: #FFF;
    overflow: hidden;
    padding: 10px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    border-right: none;
    border-top: 1px #A04D87 solid;
  }
  #menu-nav-left.active {
    width: 100%;
    height: 380px;
  }
  #nav-top {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
  }
  #nav-top img {
    margin-left: 0;
    height: 40px;
  }
  #nav-center {
    display: none;
    position: absolute;
    width: 400px;
    height: 320px;
    top: 0;
    margin-top: 0;
    padding-top: 20px;
  }
  #nav-center ul {
    font-size: 20px;
    color: #AAA;
  }
  #nav-center ul li {
    padding-top: 0px;
    padding-left: 15px;
  }
  #nav-bottom {
    position: absolute;
    height: 40px;
    bottom: 0;
    right: 10px;
    margin-bottom: 6px;
  }
  #nav-bottom .pull-left {
    display: none;
    margin-top: 2px;
    margin-right: 15px;
  }
  #nav-bottom .pull-right {
    display: block;
    font-size: 25px;
    color: #6D6D6D;
  }

  #section-content {
    padding: 0px;
    padding-left: 0px !important;
    margin-bottom: 60px !important;
  }
  
  #experiencia-tuttemob {
	  display: none !important;  
  }
  
  #section-ambientes div.col-md-5 {
	padding-top: 20px !important;
	/*text-align: center;*/
  }
  
  #section-ambientes div.col-md-7 {
	padding-top: 20px !important; 
  }
  
  #section-quemsomos {
  	left: 10% !important;
  }
  
  #section-quemsomos-interno {
    width: 100% !important;
  }
  
  #section-contatos #col-direita .col-xs-3 {
    display: none;
  }
  #section-contatos #col-direita .col-xs-9 {
    width: 100%;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 992px) {
	#col-direita .col-md-5 {
	    width: 40%;
	}
}
@media screen and (min-width: 800px){
   #nav-center {
     display: block !important;
   }
}

/* CONTENT */
#background-frames {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100000;
  background: #000;
  opacity: 0.75;
  filter: alpha(opacity=75);
};

.section {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

#section-content {
  padding: 0px;
  padding-left: 100px;
  height: 100%;
}

.section-page {
  position: absolute;
  top: 0;
}

#section-slide2 {
  background-image: #FFF;
  padding: 0px;
}

/* Button Sim/Nao */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 34px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 24px;
}

/* Paginas divididas em 8 - 4 */
.section-8-4 {
  padding: 0px;
}
.section-8-4 .form-group {
    margin-bottom: 0px;
}
.section-8-4 div.col-md-8 {
	padding: 0px;
  	overflow: hidden;
  	
  	position: fixed;
}
.section-8-4 div.col-md-8 .section-background img {
  margin-left: -150px;
}

.section-8-4 div.col-xs-9 {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  color: #FFF;
  top: 50%;
  margin-top: -170px;
}
.section-8-4 div.col-xs-9 h2 {
  font-weight: bolder;
  font-size: 98px;
  line-height: 88px;
}
.section-8-4 div.col-xs-9 p {
  font-size: 35px;
  line-height: 42px;
  margin: 0;
  
  margin-right: 120px;
}

.section-8-4 div.col-md-4 {
  float: right;
  background: #FFF;
  padding: 20px;
}

.form-group label {
  color: #AAA;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
}
.form-group input {
  border: none;
  box-shadow: none !important;
  border-radius: 0px;
  border-bottom: 2px solid;
  border-color: #AAA;
}
.form-group select {
  border: none;
  border-bottom: 2px solid;
  border-color: #AAA;
  border-radius: 0px !important;
  box-shadow: none !important;
}

/* pagina inicial */
#experiencia-tuttemob {
  display: grid;
  position: fixed;
  top: 40px;
  right: 40px;
  height: 60px;
  overflow: hidden;
  z-index: 100026;
  border: 1px #CCC solid;
  background: #FFF;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 4px;
}
#experiencia-tuttemob a {
  padding: 15px 30px;
  color: #F73F80;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}
#experiencia-tuttemob:hover a:first-child {
  margin-top: -60px;
}
#experiencia-tuttemob a:last-child {
  background: #F73F80;
  color: #FFF;
}
.section-apresentacao {
  padding: 0px;
}
.section-apresentacao .section-page {
  color: #FF6FA3;
  top: 40%;
  transform: translate(10%, -40%);
}
.section-apresentacao #p1 img {
  width: 300px;
}
.section-apresentacao #p2 {
  font-size: 38px;  
}
.section-apresentacao #p3 {
  font-size: 118px;
  font-weight: bold;
  line-height: 118px;
  margin-top: -15px;
}

.section-apresentacao2 {
  padding: 0px;
}
.section-apresentacao2 .section-page {
  color: #FFF;
  top: 50%;
  transform: translate(10%, -50%);
}
.section-apresentacao2 #p2 {
  font-size: 38px;
}
.section-apresentacao2 #p3 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-top: -15px;
}
.section-apresentacao2 #p4 {
  font-size: 30px;
}
.section-apresentacao2 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #FFF;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  transition: width 0.6s;
}
.section-apresentacao2 #p4:hover .link-border {
  width: 300px;
}
.section-apresentacao2 #p4 a {
  color: #FFF;
}

.section-apresentacao3 {
  padding: 0;
}
.section-apresentacao3 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, -50%);
}
.section-apresentacao3 #p3 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  margin-top: -15px;
}
.section-apresentacao3 #p4 {
  font-size: 30px;
}
.section-apresentacao3 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #F73F80;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  transition: width 0.6s;
}
.section-apresentacao3 #p4:hover .link-border {
  width: 300px;
}
.section-apresentacao3 #p4 a {
  color: #F73F80;
}



.section-descubra1-link1 {
  padding: 0px;
  margin-top: -30px;
}
/*.section-descubra1-link1 .objectImage {
  width: 600px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}*/
.section-descubra1-link1 .section-page {
  color: #FFF;
  top: 50%;
  transform: translate(10%, -50%);
}
.section-descubra1-link1 a:link, .section-descubra1-link1 a:visited, .section-descubra1-link1 a:hover, .section-descubra1-link1 a:active,
.section-descubra1-link2 a:link, .section-descubra1-link2 a:visited, .section-descubra1-link2 a:hover, .section-descubra1-link2 a:active,
.section-descubra1-link3 a:link, .section-descubra1-link3 a:visited, .section-descubra1-link3 a:hover, .section-descubra1-link3 a:active {
    text-decoration: none !important;
    color: #AAA !important;
}
.section-descubra1-link1 #p2 {
  font-size: 38px;
}
.section-descubra1-link1 #p3 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-top: -15px;
}
.section-descubra1-link1 #p4 {
  font-size: 30px;
}
.section-descubra1-link1 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #FFF;
  width: 300px;
  color: #FFF;
}
.section-descubra1-link1 #p4 a {
  color: #FFF;
}
.section-descubra1-link1 .box {
	background: #FFF;
	height: 80px;
	position: absolute;
	width: 100%;
	margin-top: -70px;
}
.section-descubra1-link1 .p1 {
  color: #AAA;
  font-size: 25px;
  /*font-weight: bold;*/
  line-height: 30px;
  padding: 20px;
  margin-left: 50px; 
}
.section-descubra1-link1 .p1 .link-border {
  width: 0px;
  height: 2px;
  background: #AAA;
  width: 110px;
  color: #AAA;
  margin-left: -15px;
}

.section-descubra2-link1 {
  padding: 0;
}
.section-descubra2-link1 .section-page {
  color: #FF6FA3;
  top: 50%;
  /*transform: translate(10%, -50%);*/
}
.section-descubra2-link1 div.col-md-8 img {
  position: absolute;
  right: 0;
}
.section-descubra2-link1 #p3 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  margin-top: -15px;
}
.section-descubra2-link1 #p4 {
  font-size: 30px;
}
.section-descubra2-link1 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #F73F80;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  transition: width 0.6s;
}
.section-descubra2-link1 #p4:hover .link-border {
  width: 300px;
}
.section-descubra2-link1 #p4 a {
  color: #F73F80;
}
.section-descubra2-link1 .box {
	background: #FF6FA3;
	/*float: right;*/
	max-width: 45%;
	margin-right: 10%;
	height: 520px;
	margin-top: 120px;
    margin-left: 70px;
}
.section-descubra2-link1 .box .p1 {
  color: #f7f3f3;
  font-size: 65px;
  /*text-transform: uppercase;*/
  font-weight: 700;
  line-height: 65px;
  /*padding-top: 200px;
  padding-left: 15px;
  padding-right: 15px;*/
  padding: 45px;  
}
.section-descubra3-link1 {
  padding: 0;
}
.section-descubra3-link1 .section-page {
  color: #FF6FA3;
  top: 50%;
  /*transform: translate(10%, -50%);*/
  position: relative;
}
.section-descubra3-link1 .p1 {
  color: #AAA;
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 50px;
  padding-top: 850px;
}

.section-descubra4-link1 {
  padding: 0px;
}
.section-descubra4-link1 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, 20%);
  position: relative;
  max-width: 80%;
}
.section-descubra4-link1 .p1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  margin-left: -50px;
}
.section-descubra4-link1 .p2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}





.section-descubra1-link2 {
  padding: 0px;
  margin-top: -30px;
}
/*.section-descubra1-link2 .objectImage {
  width: 600px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}*/
.section-descubra1-link2 .section-page {
  color: #FFF;
  top: 50%;
  transform: translate(10%, -50%);
}
.section-descubra1-link2 #p2 {
  font-size: 38px;
}
.section-descubra1-link2 #p3 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-top: -15px;
}
.section-descubra1-link2 #p4 {
  font-size: 30px;
}
.section-descubra1-link2 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #FFF;
  width: 300px;
  color: #FFF;
}
.section-descubra1-link2 #p4 a {
  color: #FFF;
}
.section-descubra1-link2 .box {
	background: #FFF;
	height: 80px;
	position: absolute;
	width: 100%;
	margin-top: -70px;
}
.section-descubra1-link2 .p1 {
  color: #AAA;
  font-size: 25px;
  /*font-weight: bold;*/
  line-height: 30px;
  padding: 20px;
  margin-left: 50px; 
}
.section-descubra1-link2 .p1 .link-border {
  width: 0px;
  height: 2px;
  background: #AAA;
  width: 210px;
  color: #AAA;
  margin-left: -15px;
}

.section-descubra2-link2 {
  padding: 0;
}
.section-descubra2-link2 .section-page {
  color: #FF6FA3;
  top: 50%;
  /*transform: translate(10%, -50%);*/
}
.section-descubra2-link2 div.col-md-8 img {
  position: absolute;
  right: 0;
}
.section-descubra2-link2 #p3 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  margin-top: -15px;
}
.section-descubra2-link2 #p4 {
  font-size: 30px;
}
.section-descubra2-link2 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #F73F80;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  transition: width 0.6s;
}
.section-descubra2-link2 #p4:hover .link-border {
  width: 300px;
}
.section-descubra2-link2 #p4 a {
  color: #F73F80;
}
.section-descubra2-link2 .box {
	background: #FF6FA3;
	/*float: right;*/
	max-width: 45%;
	margin-right: 10%;
	height: 520px;
	margin-top: 120px;
    margin-left: 70px;
}
.section-descubra2-link2 .box .p1 {
  color: #f7f3f3;
  font-size: 65px;
  /*text-transform: uppercase;*/
  font-weight: 700;
  line-height: 65px;
  /*padding-top: 200px;
  padding-left: 15px;
  padding-right: 15px;*/
  padding: 45px;  
}
.section-descubra3-link2 {
  padding: 0;
}
.section-descubra3-link2 .section-page {
  color: #FF6FA3;
  top: 50%;
  /*transform: translate(10%, -50%);*/
  position: relative;
}
.section-descubra3-link2 .p1 {
  color: #AAA;
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 50px;
  padding-top: 850px;
}

.section-descubra4-link2 {
  padding: 0px;
}
.section-descubra4-link2 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, 20%);
  position: relative;
  max-width: 80%;
}
.section-descubra4-link2 .p1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  margin-left: -50px;
}
.section-descubra4-link2 .p2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}





.section-descubra1-link3 {
  padding: 0px;
  margin-top: -30px;
}
/*.section-descubra1-link3 .objectImage {
  width: 600px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}*/
.section-descubra1-link3 .section-page {
  color: #FFF;
  top: 50%;
  transform: translate(10%, -50%);
}
.section-descubra1-link3 #p2 {
  font-size: 38px;
}
.section-descubra1-link3 #p3 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-top: -15px;
}
.section-descubra1-link3 #p4 {
  font-size: 30px;
}
.section-descubra1-link3 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #FFF;
  width: 300px;
  color: #FFF;
}
.section-descubra1-link3 #p4 a {
  color: #FFF;
}
.section-descubra1-link3 .box {
	background: #FFF;
	height: 80px;
	position: absolute;
	width: 100%;
	margin-top: -70px;
}
.section-descubra1-link3 .p1 {
  color: #AAA;
  font-size: 25px;
  /*font-weight: bold;*/
  line-height: 30px;
  padding: 20px;
  margin-left: 50px; 
}
.section-descubra1-link3 .p1 .link-border {
  width: 0px;
  height: 2px;
  background: #AAA;
  width: 230px;
  color: #AAA;
  margin-left: -15px;
}

.section-descubra2-link3 {
  padding: 0;
}
.section-descubra2-link3 .section-page {
  color: #FF6FA3;
  top: 50%;
  /*transform: translate(10%, -50%);*/
}
.section-descubra2-link3 div.col-md-8 img {
  position: absolute;
  right: 0;
}
.section-descubra2-link3 #p3 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  margin-top: -15px;
}
.section-descubra2-link3 #p4 {
  font-size: 30px;
}
.section-descubra2-link3 #p4 .link-border {
  margin-top: -10px;
  width: 0px;
  height: 2px;
  background: #F73F80;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  transition: width 0.6s;
}
.section-descubra2-link3 #p4:hover .link-border {
  width: 300px;
}
.section-descubra2-link3 #p4 a {
  color: #F73F80;
}
.section-descubra2-link3 .box {
	background: #FF6FA3;
	/*float: right;*/
	max-width: 45%;
	margin-right: 10%;
	height: 520px;
	margin-top: 120px;
    margin-left: 70px;
}
.section-descubra2-link3 .box .p1 {
  color: #f7f3f3;
  font-size: 65px;
  /*text-transform: uppercase;*/
  font-weight: 700;
  line-height: 65px;
  /*padding-top: 200px;
  padding-left: 15px;
  padding-right: 15px;*/
  padding: 45px;  
}
.section-descubra3-link3 {
  padding: 0;
}
.section-descubra3-link3 .section-page {
  color: #FF6FA3;
  top: 50%;
  /*transform: translate(10%, -50%);*/
  position: relative;
}
.section-descubra3-link3 .p1 {
  color: #AAA;
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 50px;
  padding-top: 850px;
}

.section-descubra4-link3 {
  padding: 0px;
}
.section-descubra4-link3 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, 20%);
  position: relative;
  max-width: 80%;
}
.section-descubra4-link3 .p1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  margin-left: -50px;
}
.section-descubra4-link3 .p2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}



.section-sobrenos {
  padding: 0px;
}
.section-sobrenos .section-page {
  color: rgb(255, 255, 255);
  top: 75%;
  transform: translate(10%, -40%);
}
.section-sobrenos .p1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  /*margin-top: 450px;*/  
}

.section-sobrenos2 {
  padding: 0px;
  padding-top: 50px;
}
.section-sobrenos2 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, 10%);
  position: relative;
  max-width: 80%;
}
.section-sobrenos2 .p1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin-left: -65px;
}
.section-sobrenos2 .p2 {
  color: #AAA;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  margin-top: -15px;
  margin-left: -65px;
  padding-top: 50px;
}

.section-sobrenos3 {
  padding: 0px;
}
.section-sobrenos3 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, 10%);
  position: absolute;
  max-width: 80%;
}
.section-sobrenos3 .p1 {
  color: #AAA;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  margin-left: -45px;
  padding-top: 50px;
  width: 80%;
}
.section-sobrenos3 .p2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin-left: -45px;
  padding-top: 50px;
}

.section-sobrenos4 {
  padding: 0px;
}
.section-sobrenos4 .section-page {
  color: #FF6FA3;
  top: 50%;
  /*transform: translate(200%, 155%);*/
  position: relative;
  padding-top: 640px;
}
.section-sobrenos4 .box {
	background: #FF6FA3;
	float: right;
	max-width: 40%;
	/*margin-right: 10%;*/
	height: 750px;
}
.section-sobrenos4 .box .p1 {
  color: #f7f3f3;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 55px;
  padding-top: 200px;
  padding-left: 30px;
  padding-right: 80px;  
}
.section-sobrenos4 .p2 {
  color: #AAA;
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  margin-left: 50px;
  padding-top: 150px;
  width: 35%
}

.section-sobrenos5 {
  /*padding: 0px;*/
  padding-top: 50px;
}
.section-sobrenos5 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, 0%);
  position: relative;
  max-width: 80%;
}
.section-sobrenos5 .p1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin-left: -60px;
}
.section-sobrenos5 .p2 {
  color: #AAA;
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  margin-top: -15px;
  margin-left: -60px;
  padding-top: 50px;
}

.section-sobrenos6 {
  padding: 0px;
}
.section-sobrenos6 .section-page {
  color: #FF6FA3;
  top: 50%;
  transform: translate(10%, 20%);
  position: relative;
  max-width: 80%;
}
.section-sobrenos6 .p1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin-left: -50px;
}
.section-sobrenos6 .p2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}
#experiencia-tuttemob2 {
  display: grid;
  /*position: fixed;
  top: 40px;
  right: 40px;
  height: 60px;*/
  overflow: hidden;
  z-index: 100026;
  border: 1px #CCC solid;
  background: #FFF;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 4px;
  margin-top: 50px;
  width: 230px;
  /*position: absolute;*/
  top: 110%;
  /*left: 40%;*/
  margin-left: 40%
}
#experiencia-tuttemob2 a {
  padding: 15px 30px;
  background: #F73F80;
  color: #FFF;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  /*-webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  transition: margin-top 0.3s;*/
}


/* Ambientes */
.section-ambientes .col-md-12 {
  padding: 0;
}
.section-ambientes .col-xs-9 {
  top: auto !important;
  margin-top: 0 !important;
  bottom: 0;
  margin-bottom: 80px;
}
#section-ambientes-tela2 .col-xs-9 {
  top: 0 !important;
  margin-top: 50px !important;
  bottom: auto !important;
  margin-bottom: 0 !important;
  position: relative;
}
#section-ambientes-tela2 h2 {
  color: #FF6FA3;
  font-size: 80px;
  line-height: 80px;
}
#section-ambientes-tela2 p {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 870px;
  color: #AAA
}
#section-ambientes-tela3 div.col-md-4,
#section-ambientes-tela5 div.col-md-4 {
  float: left;
  padding: 15px;
  padding-top: 30px;
  min-width: 500px;
  padding-left: 50px;
  z-index: 1;
}
#section-ambientes-tela3 div.col-md-4 {
  padding-top: 80px;
}
#section-ambientes-tela3 div.col-md-4 h2,
#section-ambientes-tela5 div.col-md-4 h2 {
  font-weight: bolder;
  color: #AAA;
  font-size: 55px;
  line-height: 55px;
}
#section-ambientes-tela3 div.col-md-8,
#section-ambientes-tela5 div.col-md-8 {
  padding: 0px;
  overflow: hidden;
  position: absolute;
  right: 0;
}
#section-ambientes-tela3 div.col-md-8 img {
  position: absolute;
  right: 0;
}
#section-ambientes-tela5 div.col-md-8 img {
  position: absolute;
  left: 0;
}
#section-ambientes-tela3 .section-ambientes-link,
#section-ambientes-tela5 .section-ambientes-link {
  width: 25%;
  min-width: 500px;
  color: #FFF;
  background: #FF6FA3;
  font-size: 22px;
  line-height: 30px;
  padding: 20px;
  padding-right: 0;
  position: absolute;
  z-index: 2;
  left: 50px;
  bottom: 15%;
}
#section-ambientes-tela5 .section-ambientes-link {
  bottom: 20%;
}
#section-ambientes-tela3 .section-ambientes-link .col-xs-11,
#section-ambientes-tela5 .section-ambientes-link .col-xs-11 {
  position: relative;
  padding: 0;
  margin: 0; 
}
#section-ambientes-tela3 .section-ambientes-link .col-xs-1,
#section-ambientes-tela5 .section-ambientes-link .col-xs-1 {
  font-size: 60px;
  padding: 0;
}
#section-ambientes-tela3 .section-ambientes-link .col-xs-1 .glyphicon-menu-right,
#section-ambientes-tela5 .section-ambientes-link .col-xs-1 .glyphicon-menu-right {
  margin-left: -20px;
}

#section-ambientes-tela4 div.col-md-4 {
  float: right;
  padding: 15px;
  padding-top: 30px;
  min-width: 500px;
  padding-right: 50px;
  z-index: 1;
}
#section-ambientes-tela4 div.col-md-4 h2 {
  font-weight: bolder;
  color: #AAA;
  font-size: 55px;
  line-height: 55px;
}
#section-ambientes-tela4 div.col-md-8 {
  padding: 0px;
  overflow: hidden;
  position: absolute;
  left: 0;
}
#section-ambientes-tela4 div.col-md-8 img {
  position: absolute;
  right: -100px;
}
#section-ambientes-tela4 .section-ambientes-link {
  width: 25%;
  min-width: 500px;
  color: #FFF;
  background: #FF6FA3;
  font-size: 22px;
  line-height: 30px;
  padding: 20px;
  padding-left: 0;
  position: absolute;
  z-index: 2;
  right: 50px;
  bottom: 15%;
}
#section-ambientes-tela4 .section-ambientes-link .col-xs-11 {
  position: relative;
  padding: 0;
  margin: 0; 
  text-align: right;
}
#section-ambientes-tela4 .section-ambientes-link .col-xs-1 {
  font-size: 60px;
  padding: 0;
}
#section-ambientes-tela4 .section-ambientes-link .col-xs-1 .glyphicon-menu-left {
  margin-right: -20px;
}

#section-ambientes-tela6 .col-xs-9 {
  top: 0 !important;
  margin-top: 50px !important;
  bottom: auto !important;
  margin-bottom: 0 !important;
}
#section-ambientes-tela6 h2 {
  color: #FF6FA3;
  font-size: 60px;
  line-height: 60px;
  font-weight: normal;
}

#section-ambientes-tela3 .section-ambientes-link, 
#section-ambientes-tela3 .section-background,
#section-ambientes-tela4 .section-ambientes-link, 
#section-ambientes-tela4 .section-background,
#section-ambientes-tela5 .section-ambientes-link, 
#section-ambientes-tela5 .section-background {
  cursor: pointer;
}

.section-ambientes-gallery {
  display: none;
}
.mfp-bg {
  z-index: 104200 !important;
}
.mfp-wrap {
  left: 10% !important;
  width: 80% !important;
  z-index: 104300 !important;
}

/* Contatos */
#section-contatos {
  padding: 0px;
}
#section-contatos .corpo {
	padding-top: 50px;
}
#section-contatos #col-esquerda {
	margin-left: 50px;
}	
#section-contatos .p1 {
	color: #FF6FA3;
	padding-top: 20px;
	font-size: 30px;
    font-weight: 700;
    line-height: 30px;	
}
#section-contatos .p2 {
	color: #AAA;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
}
#section-contatos #bottom-social {
  width: 230px;
  height: 30px;
  padding: 0px;
  margin-left: -40px;
}
#section-contatos #bottom-social ul {
  list-style: none;
}
#section-contatos #bottom-social ul li {
  display: inline;
}
#section-contatos #bottom-social ul li img {
  height: 30px;
}
#section-contatos .pull-right {
  display: none;
}    

/*
#section-contatos #col-esquerda .col-xs-4,
#section-contatos #col-esquerda .col-xs-8 {
  padding: 0px 5px;
  padding-bottom: 10px;
}
*/

#section-contatos #col-direita .col-md-5 {
	/*background-image: url('../img/outros/contato.png') !important;*/
	background-color: black;
}
#section-contatos #col-direita .col-md-5 {
  width: 100%;
  padding-bottom: 70px;
}

#section-contatos form {
	position: absolute;
	clear:left;
  	margin-left:20px;
  	display:inline;
  	/*float:left;*/
  	margin-top: -470px;
    width: 85%;
}
#section-contatos .form-group {
    margin-bottom: 15px;
}
#section-contatos #formContato label {
  margin-top: 5px;
  margin-bottom: 0px;
	font-size: 16px;
	font-weight: 400;
}
#section-contatos #formContato input {
	border: none;
	box-shadow: none;
	/*border: 2px solid;*/
}
#section-contatos #formContato textarea {
  	border: none;
	box-shadow: none;
  	/*border: 2px solid;*/
  	height: 200px;  
}
#section-contatos #formContato button {
	margin-top: 15px;
	padding: 18px 0px;
	font-size: 18px;
	text-transform: uppercase;
	border: 2px solid;
	border-color: #AAA;
	color: rgb(255, 127, 172);
	font-weight: bolder;
	background: #FFF;
	width: 50%;
	float: right;	
}


/* Login / Cadastro */
#section-login .col-md-4 {
  padding-top: 80px;
  min-height: 100%;
  right: 0;
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  width: 30%;
}
#section-login .login-title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
#section-login .login-title h4 {
	width: 80%;
	font-size: 18px;
	margin: 0 auto;
	color: #A04D87
}

#section-login .login #formLogin {
  margin-top: 70px;
}

#section-login .cadastro #formLogin {
  margin-top: 5px;
}

#section-login #formLogin button {
  margin-top: 15px;
  padding: 18px 0px;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid;
  border-color: #AAA;
  color: rgb(255, 127, 172);
  font-weight: bolder;
  background: #FFF;
}

#section-esqueceu-senha .col-md-6 {
  padding-left: 0px;
}

/* Briefings */
#section-briefings {
	padding: 0px;	
}
#section-briefings .modal-title {
	color: #AAA;
	text-transform: uppercase;
}
#section-briefings .form-group {
  margin-bottom: 20px;
}
#section-briefings .form-group label {
  margin-top: 0px;
  cursor: pointer;
}

#section-briefings .form-group input[type="radio"],
#section-briefings .form-group input[type="checkbox"] {
  display: none;
}

#section-briefings .form-group input[type="radio"] + label:before,
#section-briefings .form-group input[type="checkbox"] + label:before {
  border: 1px solid #AAA;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
  border-radius:4px;
  margin-top: 5px;
}

#section-briefings .form-group input[type="radio"]:checked + label:before,
#section-briefings .form-group input[type="checkbox"]:checked + label:before {
  background: rgb(255, 19, 110);
  color: #FFF;
  content: "\2713";
  text-align: center;
  margin-top: 5px;
}
#section-briefings .modal-header .close,
#briefing-cadastro .modal-header .close,
#briefing-obrigado-vendedor .modal-header .close,
#briefing-obrigado-arquivos .modal-header .close {
  color: rgb(255, 19, 74);
  opacity: 1;
}
#section-briefings .modal-footer .btn-primary {
  text-transform: uppercase;
  border: 2px solid;
  border-color: #FFF;
  color: #FFF;
  font-weight: bolder;
  /*background: rgb(255, 19, 74);*/
  background: rgb(255, 64, 131);
  padding: 10px 15px;
  padding-top: 13px;
}
#section-briefings .modal-footer .btn-default {
  text-transform: uppercase;
  border: 2px #AAA solid;
  padding: 9px 15px;
  padding-top: 12px;
}

#section-briefings .col-md-8 h2 {
	color: rgb(255, 111, 163);
    font-weight: bolder;
    font-size: 68px;
    line-height: 58px;
}
#section-briefings .col-md-8 p {
  color: rgb(255, 111, 163);
  font-size: 22px;
  line-height: 30px;
  margin-top: 25px;
  
  margin-right: 100px;
}
#section-briefings .col-md-4 {
  background: rgb(255, 174, 202);
  color: #FFF;
  position: absolute;
  /*height: 100%;*/
  
  min-height: 100%;
  
  right: 0;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 30px;
}
#section-briefings .col-md-4 a {
  color: #FFF;
}
#section-briefings .col-md-4 h2 {
  text-align: center;
  margin-bottom: 20px;
}
#section-briefings #btn-confirmar-ambientes {
  width: 100%;
  margin-top: 15px;
  padding: 16px 0px;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid;
  border-color: #AAA;
  color: rgb(255, 127, 172);
  font-weight: bolder;
  background: #FFF;
}

#section-briefings input.cmn-toggle-round:checked + label:before {
  background-color: #ff136e;
}
.briefing-item .col-xs-8 {
	padding: 5px 0px;
	font-size: 20px;
}
.briefing-item .col-xs-4 {
	padding: 0px;
}
.briefing-grid {
	display: none;	
}s
.briefing-grid a {
	color: #000;
	font-weight: bold;
	padding: 0 15px;
}
.briefing-grid-item .col-xs-8 {
	padding: 0px;
	font-size: 16px;
}
.briefing-complemento-step {
	display: none;
}
.briefing-complemento-step .col-md-8 .col-xs-9 h2 {
	font-size: 75px;
  	line-height: 75px;
  	
  	margin-right: 100px;
}
.briefing-complemento-step .col-md-8 .col-xs-9 p {
  font-size: 24px;
  line-height: 24px;
}
.briefing-complemento-step .col-md-4 {
  /*position: absolute;*/
  height: 100%;
  right: 0;
  overflow: auto;
  overflow-x: hidden;
  
  position: fixed;
}
.briefing-complemento-step .col-md-4 .col-xs-12 {
  margin-top: 10%;
}
.briefing-complemento-step .col-md-4 .col-xs-12,
.briefing-complemento-step .col-md-4 .col-xs-8,
.briefing-complemento-step .col-md-4 .col-xs-4 {
  padding: 0;
}
.briefing-complemento-step .col-md-4 .col-xs-8 {
  color: rgb(255, 111, 163);
  font-weight: bold;
  font-size: 35px;
  line-height: 37px;
}
.briefing-complemento-step .col-md-4 .col-xs-8 p {
  margin-bottom: 0px;
}
.briefing-complemento-step .col-md-4 .col-xs-8 p.sub {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}
.briefing-complemento-step .col-md-4 .col-xs-4 {
  right: 0;
  height: 100%;
  position: absolute;
}
.briefing-complemento-step .col-md-4 .col-xs-4 .switch {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 50%;
  margin-left: -30px;
}
.briefing-complemento-step .col-md-4 button{
  color: #FFF;
  background: rgb(255, 127, 172);
  border: 1px rgb(255, 127, 172) solid;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: bold;
}

#briefing-complemento input.cmn-toggle-round:checked + label:before {
  background-color: #ff136e;
}
#briefing-complemento {
	background: #FFF;
}
#briefing-complemento .col-md-4 {
  padding-top: 70px;
}

#briefing-cadastro .modal-header {
  text-align: center;
  color: rgb(255, 64, 131);
}
#briefing-cadastro .modal-header h2 {
  font-weight: bold;
  line-height: 10px;
}
#briefing-cadastro .modal-header p {
  font-size: 18px;
}

#briefing-cadastro .form-group label {
  margin-top: 0px;
  cursor: pointer;
}

#briefing-cadastro .form-group input[type="radio"],
#briefing-cadastro .form-group input[type="checkbox"] {
  display: none;
}

#briefing-cadastro .form-group input[type="radio"] + label:before,
#briefing-cadastro .form-group input[type="checkbox"] + label:before {
  border: 1px solid #AAA;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
  border-radius:4px;
  margin-top: 5px;
}

#briefing-cadastro .form-group input[type="radio"]:checked + label:before,
#briefing-cadastro .form-group input[type="checkbox"]:checked + label:before {
  background: rgb(255, 19, 110);
  color: #FFF;
  content: "\2713";
  text-align: center;
  margin-top: 5px;
}

#briefing-cadastro .modal-footer .btn-primary {
  text-transform: uppercase;
  border: 2px solid;
  border-color: #FFF;
  color: #FFF;
  font-weight: bolder;
  /*background: rgb(255, 19, 74);*/
  background: rgb(255, 64, 131);
  padding: 10px 15px;
  padding-top: 13px;
}
#briefing-cadastro .modal-footer .btn-default {
  text-transform: uppercase;
  border: 2px #AAA solid;
  padding: 9px 15px;
  padding-top: 12px;
}

#briefing-videos .col-md-8 div.col-xs-9 {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  color: #FFF;
  top: 50%;
  margin-top: -80px;
}
#briefing-videos .col-xs-12 {
	/*background: #9A5B90;*/
	text-align: center;
}
#briefing-videos .col-md-4 .col-xs-12 .p1 {
    /*text-align: center;*/
    font-size: 30px;
    color: rgb(255, 111, 163);
    font-weight: bold;
    line-height: 30px;
    margin-top: -40px;
    margin-bottom: -5px;    
}
#briefing-videos .col-md-4 .col-xs-12 a {
    font-size: 18px;
    font-weight: bold;
}
#briefing-videos .col-md-4 .col-xs-12 .imgYoutube {
    /*padding-left: 55px;*/
    margin-top: -20px;
    margin-bottom: -20px;
    width: 85%;
}
#briefing-videos .col-md-4 .col-xs-12 h2 {
    font-size: 28px;
    color: #AAA;
    font-weight: bold;
    margin-top: -30px;
}
#briefing-videos .col-md-4 .col-xs-12 .p2 {
    font-size: 24px;
    color: #AAA;
    line-height: 27px;
    /*font-weight: bold;
    margin-top: -20px;*/
}
#briefing-videos .col-1 {
	padding: 0px 50px;
    font-weight: 400;
}
#briefing-videos .col-2 {
	margin-top: 50px;
}
#briefing-videos .col-2 img {
	border: 5px #FFF solid
}
/*#briefing-videos .icone-download img {
	float: left;
	padding-top: 20px;
    margin-left: -50px;
}*/
.icone-download {
	float: left;
	padding-top: 8px;
    margin-left: 50px;
    height: 32px;
    width: 20px;
}
#briefing-videos .pdownload {
	text-align: left;
}
#btn-fechar-youtube {
  display: none;
  position: fixed;
  padding: 10px;
  background: #000;
  color: #FFF;
  left: 10%;
  top: 20%;
  margin-top: -54px;
  z-index: 100100;
}
#btn-fechar-youtube button {
	background-color: #FF6FA3;
	border-color: #ef2b70;
}
#btn-fechar-youtube button:hover {
    background-color: #F73F80;
}
#iframeVideosYoutube {
  display: none;
  position: fixed;
  width: 80%;
  height: 65%;
  left: 10%;
  top: 20%;
  border: 10px #000 solid;
  z-index: 100100;
}
#briefing-vendedor {
	background: #A04D87;
}
#briefing-vendedor .col-md-8 div.col-xs-9 {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  color: #FFF;
  top: 50%;
  margin-top: -80px;
}
#briefing-vendedor .col-md-4 {
  padding-top: 130px;
}
#briefing-vendedor form {
  padding-top: 100px;
}
#briefing-vendedor .col-md-4 .col-xs-12 {
	text-align: center;
	font-size: 24px;
	color: rgb(255, 111, 163);
	line-height: 22px;
}
#briefing-vendedor button,
#briefing-arquivos1 button,
#briefing-videos button {
  margin-top: 15px;
  padding: 18px 0px;
  font-size: 18px;
  text-transform: uppercase;  
  border-color: #FFF;
  color: #FFF;
  font-weight: bolder;  
  background: rgb(255, 127, 172);
  border: 1px rgb(255, 127, 172) solid;
  font-size: 18px;  
}

#briefing-arquivos1 button {
  margin-left: 15px !important;
  width: 90% !important;  
}

.briefing-complemento-step .btn-voltar {
	border-color: #AAA !important;
	color: #AAA !important;
	background: #FFF !important;
}
#briefing-vendedor .col-1 {
    font-weight: 400;
}
#briefing-arquivos1 {
	background: #F73F80;
}
#briefing-arquivos1 .col-md-8 div.col-xs-9 {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  color: #FFF;
  top: 50%;
  margin-top: -130px;
}
#briefing-arquivos1 .col-md-12 {
  padding-right: 0px;
}
#briefing-arquivos1 .col-md-4 {
  padding-top: 40px;
  min-width: 435px;
}
#briefing-arquivos1 .col-md-4 .col-xs-12 p {
	color: rgb(255, 127, 172);
    font-weight: bold;
    font-size: 25px;
    line-height: 27px;
}
#briefing-arquivos1 .col-md-4 .col-xs-12 p.sub {
	font-size: 16px;
	line-height: 20px;
}
#briefing-arquivos1 .col-1 {
    font-weight: 400;
}
#briefing-arquivos1 .col-2 {
  height: 64%;
  overflow: auto;
}
#briefing-arquivos1 .col-2 .col-md-12{
    padding: 0px;
    width: 100%;
    margin-top: 10px;
}
#briefing-arquivos1 .col-2 .col-xs-12{
    font-size: 0.8em;
    font-weight: 400;
    padding: 0 5%;
    line-height: 30px;
    margin: 0px;
    margin-top: 5px;
}
#briefing-arquivos1 .col-md-4 .col-xs-12 {
	margin-top: 0%;
}
#briefing-arquivos1 .col-md-4 .col-xs-9 {
  width: 80%;
  /*position: absolute;*/
  padding-left: 0px;
  color: #FFF;
  top: 0%;
  margin-top: 5px;
}
#briefing-arquivos1 .col-md-4 .col-xs-3 {
	padding-left: 250px;
}
#briefing-arquivos1 .buttons {
	/*padding-top: 5px;*/
	position: relative;
}
#formArquivosBriefings input {
    border: none;
    box-shadow: none !important;
    border-radius: 0px;
    border-bottom: 2px solid;
    border-color: #AAA;
    background: #FFF;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#formArquivosBriefings .pesquisar-arquivo {
    background: #FFF;
    color: #AAA;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: 1px #AAA solid;
    text-align: center;
    padding: 2px 7px;
    margin-left: 2px;
    margin-right: 5px;
    cursor: pointer;
}
#formArquivosBriefings .glyphicon-plus {
    background: #FFF;
    color: #AAA;
    font-size: 16px;
    padding: 8px 8px;
    margin: 0px;
    margin-top: -1px;
    border-radius: 5px;
    border: 1px #AAA solid;
    float: left!important;
    cursor: pointer;
}
#briefing-obrigado-vendedor,
#briefing-obrigado-arquivos {
	/*background: #3fb7ca;*/
    text-align: center;
    font-weight: 400;
}
#briefing-obrigado-vendedor h2,
#briefing-obrigado-arquivos h2 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 64, 131);
    margin-top: 80px;
}
#briefing-obrigado-vendedor p,
#briefing-obrigado-arquivos p {
    font-size: 25px;
    font-weight: 400;
    color: #AAA;
    line-height: 32px;
}
#briefing-obrigado-vendedor .p1,
#briefing-obrigado-arquivos .p1 {
    margin: 30px 75px 0px 75px;
}
#briefing-obrigado-vendedor .p2,
#briefing-obrigado-arquivos .p2 {
    margin: 0px 75px 10px 75px;
    padding-bottom: 30px;
}
/*
#briefing-obrigado .col-1 {
	font-size: 40px;
	padding-top: 30px;	
}
#briefing-obrigado-vendedor {
	  background: #3fb7ca;
    text-align: center;
    font-weight: 400;
}
#briefing-obrigado-vendedor .col-1 {
	font-size: 40px;
	padding-top: 30px;	
}
#briefing-obrigado-arquivos {
  background: #3fb7ca;
  text-align: center;
  font-weight: 400;
}
#briefing-obrigado-arquivos .col-1 {
  font-size: 40px;
  padding-top: 30px;	
}
*/

/* Footer */
#section-footer {
  padding-top: 0px;
  background-color: #000;
}

#section-quemsomos-bg {
  /*position:absolute;*/
  background-color: #F73F80;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 50px;
  height:100% !important;
}

#section-quemsomos {
  position:absolute;
  width: 80%;
  left: 15%;
  top: 50%;
  transform: translate(0, -50%);
}

#section-quemsomos-interno {
  border-width: 5px;
  border-color: #FFFFFF;
  border-style: solid;
  width: 30%;
  margin: 0 auto;
}

#section-experiencia-clientes {
  margin: 0 auto;
  padding-top: 90px;
}

.section-franquias {
    padding: 0px;
}
.section-franquias .col-md-12 {
  padding: 0;
}

#section-desktop-franquias {
  float: left;
}
#section-franquias-tela1 div.col-xs-9 {
  width: 100% !important;
  position: relative !important;
  padding-left: 50px !important;
  color: #FFF !important;
  margin-top: -300px;
}
#section-franquias-tela1 div.col-xs-9 h2 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 80px;
}
#section-franquias-tela2 div.col-xs-9 {
  width: 100%;
  position: relative;
  margin: 0;
  margin-right: 120px;
  padding-left: 50px;
  /*top: 70px;*/
  margin-top: 70px;
  font-size: 35px;
  line-height: 42px;
}
#section-franquias-tela2 div.col-xs-9 p {
  color: #AAA !important;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 870px;
  font-size: 35px;
  line-height: 45px;
  margin: 0;
  margin-right: 120px;
}
#section-franquias-tela2 h2 {
  color: #FF6FA3;
  font-size: 68px;
  line-height: 78px;
  font-weight: bolder;
}

#section-franquias-tela3 {
  color: #FFFFFF;
  height: 100%;
  position: relative;
  padding-top: 50px;
  /*margin-top: 50px;*/
}
#section-mapa-interno {
	width:100%;
	height:400px;
	margin: 0 auto;
	color: #281447;
}
#formMapa {
  width: 50%;
  display: block;
  text-align: left;
  padding-top: 30px;	
}
#formMapa .form-group label {
	padding-botton: 10px;
}

#section-franquias-tela3 .box {
	background: #FF6FA3;
	float: right;
	max-width: 35%;
	margin-right: 10px;
	height: 220px;
	color: #f7f3f3;
    overflow: hidden;
    margin-top: -50px;	
	position: absolute;
    right: 0;
    width: 35%;
    padding-right: 5px;  
}
#section-franquias-tela3 .box .col-sm-4 {
	text-align: right;
    margin-right: -20px;
    font-size: 80px;
    padding-top: 30px;
}
/*#section-franquias-tela3 .box .p1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  padding-top: 30px;
}*/
#section-franquias-tela3 .p2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
#section-franquias-tela3 .glyphicon {
	margin-left: -20px;
	text-align:	right;
	top: -15px;
}	



@media screen and (max-width: 800px){
  #section-franquias-fisicas #rodape-espaco {
    display: block;
  }
  #section-franquias-fisicas {
    padding: 0px;
    padding-top: 15px;
  }
  #section-franquias-fisicas .row {
    padding-left: 15px;
    padding-right: 15px;
  }
  #section-franquias-fisicas form h2 {
    margin: 0;
  }
}




.section-depoimentos {
    padding: 0px;
}
.section-depoimentos .col-md-12 {
  padding: 0;
}
#section-depoimentos-tela1 {
  margin-top: 15%;
}
#section-depoimentos-tela1 div.col-xs-12 {
  width: 100% !important;
  position: relative !important;
  padding-left: 50px !important;
  color: #FFF !important;
}
#section-depoimentos-tela1 h2 {
  color: #FF6FA3;
  font-size: 68px;
  line-height: 78px;
  font-weight: bolder;
}
#section-depoimentos-tela1 p {
  color: #AAA !important;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 90%;
  font-size: 35px;
  line-height: 42px;
  margin: 0;
  margin-right: 120px;
}
#section-depoimentos-tela2 {
	position: relative;
}
#section-depoimentos-tela2 img {
	max-width: 120%;
}
#section-depoimentos-tela2 div.col-md-8 {
	padding-left: 0px;
	margin-left: -15px;
}
#section-depoimentos-tela2 .box {
	background: #FF6FA3;
	float: right;
	max-width: 90%;
	margin-right: 5%;
	height: 550px;
	color: #f7f3f3;
    overflow: hidden;
    margin-top: -500px;	
	position: absolute;
    right: 0;
    left: 45%;
    width: 90%;
    padding-right: 15px;  
}
#section-depoimentos-tela2 .p1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 25px;
  padding-top: 170px;
  margin-left: 50px;
  margin-right: 15px;
}
#section-depoimentos-tela2 .p2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 50px;
  margin-right: 15px;
}
.carousel {
	clear: both;
}
.carousel-inner {
	overflow: visible !important;
}
.carousel .item {
	background-color: transparent !important;
}
.carousel-inner > .item > img {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    min-width: 60% !important;
    height: 120% !important;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #dedada;
    margin-left: 30px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #AAA;
    border-color: #dedada;
    margin-left: 30px;
}

.carousel-caption {
	text-align: left;
}

#section-depoimentos-tela3 {
  color: #FF6FA3;
  transform: translate(10%, 20%);
  position: relative;
  max-width: 80%;
}
#section-depoimentos-tela3 h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  margin-left: -50px;
}
#section-depoimentos-tela3 div.col-xs-9 div {
	margin-left: 50%;
}




@media (min-width: 768px) {
	.carousel-indicators {
	    bottom: -60px;
	    padding-left: 360px;
	}
}



#section-inicie-experiencia {
  text-align: center;
  color: #FFFFFF;
  padding: 0px;
}

#section-inicie-experiencia-interno {
  position:	absolute;
  margin: 0;
  left: 0; right: 0;
  margin: auto;
  top: 25%;
}

#section-inicie-experiencia-interno h2 {
  font-size: 40px
}

#section-inicie-experiencia-interno a {
  display: grid;
  width: 80%;
  margin: 0 auto;
  border: 3px #FFF solid;
  padding: 15px 30px;
  font-size: 60px;
  color: #FFF;
}

#section-inicie-experiencia-interno h4 {
  font-size: 30px
}

#section-inicie-experiencia-interno-caixa {
  position:	absolute;
  /*right:		20px;*/
  /*POSICIONANDO NO TOPO*/
  /*top:		20px;*/  
  border-width: 5px;
  border-color: #FFFFFF;
  border-style: solid;
  width: 70%;
  /*margin: 0;*/
  /*left: 36%;*/
  /*margin-left: -500px;*/
  
  /*top: 0; bottom: 0;*/
  left: 0; right: 0;
  margin: auto;
  top: 37%;
  /*transform: translateY(+80%);*/
}

#section-inicie-experiencia-interno-caixa {
  font-size: 48px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: rgb(255, 127, 172);
}

a.linksSemEstilos:link,a.linksSemEstilos:visited,a.linksSemEstilos:hover,a.linksSemEstilos:active { 
 text-decoration:none !important; 
}

#mapa{
  width: 100%; 
  height: 500px; 
  border: 1px solid #ccc;
}


@media screen and (min-width: 992px) {
	#section-franquias-tela3 .box .p1 {
	    font-size: 25px;
	    font-weight: 700;
	    line-height: 30px;
	    padding-top: 30px;
	}
}
@media screen and (min-width: 900px) and (max-width: 992px){
	#section-franquias-tela3 .box .p1 {
	    font-size: 20px;
	    font-weight: 700;
	    line-height: 25px;
	    padding-top: 30px;
	}
}


#section-menudropdowncliente {
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .section {
        background-attachment: scroll;
    }
}

@media (max-width: 1040px) {
    .navbar-right {
        float: left !important;  
    }
}

@font-face {
	font-family: "MyriadPro Regular";
	src: url("../font/MyriadPro-Regular.otf");
	}

/*p { font-family: "MyriadPro Regular", Cursive; }*/
