#section-mobile,
#section-mobile-descubra,
#section-mobile-franquias {
  display: none
}

@media screen and (max-width: 800px){
  #menu-nav-left {
    position: absolute !important;
  }

  #section-desktop,
  #section-desktop-descubra,
  #section-desktop-franquias {
    display: none
  }
  #section-mobile,
  #section-mobile-descubra,
  #section-mobile-franquias {
    display: block
  }

  /* ### Mobile Navegação ###  */
  .section-mobile #navigator {
    z-index: 1000000;
    transform: translate(-50%, 0%);
    left: 50% !important;
    top: auto !important;
    right: auto !important;
  }
  .section-mobile #navigator .i {
    top: 5px !important;
  }
  .section-mobile #navigator .i svg {
    fill: gray;
  }
  .section-mobile #navigator .iav svg {
    fill: #000;
  }
  
  /* ### TELA INICIAL ### */
  #section-mobile a.pbutton {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    background: #F73F80;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 60px;
  }
  
  #section-mobile .section-apresentacao .section-page {
    position: absolute;
    bottom: 130px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao #p1 img {
    width: 50%;
  }
  #section-mobile .section-apresentacao #p2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  #section-mobile .section-apresentacao #p3 {
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
    margin-top: -15px;
  }

  #section-mobile .section-apresentacao2 img {
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao2 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #FFF;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao2 #p2 {
    font-size: 24px;
  }
  #section-mobile .section-apresentacao2 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile .section-apresentacao2 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  #section-mobile .section-apresentacao3 img {
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao3 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao3 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile .section-apresentacao3 a.pbutton {
    background: #F73F80;
    color: #FFF;
    bottom: 0px;
  }

  #section-mobile .section-apresentacao4 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }
  
  /* ### TELA FRANQUIAS ### */
  #section-mobile-franquias .section-1,
  #section-mobile-franquias .section-2 {
      padding: 0;
  }
  #section-mobile-franquias .section-1 .section-background img {
    margin-top: -30px;
  }
  #section-mobile-franquias .section-1 .section-page {
    position: absolute;
    bottom: auto;
    top: 57%;
    color: #FFF;
    transform: translate(15px, 0%);
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
  }
  #section-mobile-franquias .section-1 .section-1-content {
      color: #AAA;
      font-size: 18px;
      line-height: 20px;
      margin-top: -10%;
      background: #FFF;
      position: absolute;
      padding: 30px 15px;
  }
  #section-mobile-franquias .section-2 .section-2-form h2 {
    color: #F73F80;
    font-weight: bold;
  }
  #section-mobile-franquias .section-2 .section-2-form .form-group {
    margin: 0 -15px;
  }
  #section-mobile-franquias .section-2 .section-2-form .form-group label {
    margin-top: 5px;
    font-size: 14px;
  }
  #section-mobile-franquias .section-2 #section-2-googlemap {
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }
  #section-mobile-franquias .section-2 .section-2-central {
      padding: 30px 0; 
      margin-bottom: 50px;
      display: inline-block;
  }
  #section-mobile-franquias .section-2 .section-2-central span {
      font-size: 60px;
      color: #F73F80;
      margin-left: -10px; 
  }
  #section-mobile-franquias .section-2 .section-2-central .p1 {
    color: #F73F80;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    margin: 0;
  }
  #section-mobile-franquias .section-2 .section-2-central .p2 {
    color: #F73F80;
    font-size: 14px;
  }
  #section-mobile-franquias .section-2 .section-2-central #experiencia-tuttemob2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px; 
  }
  #section-mobile-franquias .section-2 .section-2-central #experiencia-tuttemob2 a {
    padding: 5px 10px;
  }

  /* ### TELA DESCUBRA ### */
  #section-mobile-descubra .section-descubra1-link1 img {
    margin-top: -60px;
  }
  #section-mobile-descubra .section-descubra1-link1 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #FFF;
    transform: translate(5%, 0%);
  }
  #section-mobile-descubra .section-descubra1-link1 #p2 {
    font-size: 24px;
  }
  #section-mobile-descubra .section-descubra1-link1 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile-descubra .section-descubra1-link1 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  #section-mobile-descubra .section-descubra2-link1 img {
    margin-top: -60px;
  }
  #section-mobile-descubra .section-descubra2-link1 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile-descubra .section-descubra2-link1 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile-descubra .section-descubra2-link1 a.pbutton {
    background: #F73F80;
    color: #FFF;
    bottom: 0px;
  }

  #section-mobile-descubra .section-descubra3-link1 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }
}

@media screen and (max-width: 500px){
  #section-mobile .section-apresentacao3 img {
    margin-left: -20%;
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao4 img {
    margin-left: -45%;
    margin-top: -60px;
  }
}