#section-mobile,
#section-mobile-descubra,
#section-mobile-franquias,
#section-mobile-contatos {
  display: none
}

@media screen and (max-width: 800px){
  /* ### Menu Mobile ### */
  #menu-nav-left {
    position: fixed;
    width: 100% !important;
    height: 60px;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 100023;
    background: #FFF;
    overflow: hidden;
    padding: 10px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    border-right: none;
    border-top: 1px #A04D87 solid;
  }
  #menu-nav-left.active {
    width: 100%;
    height: 380px;
  }
  
  #nav-top {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
  }
  #nav-top img {
    margin-left: 0;
    height: 40px;
  }
  #nav-center {
    display: none;
    position: absolute;
    width: 400px;
    height: 320px;
    top: 0;
    margin-top: 0;
    padding-top: 20px;
  }
  #nav-center ul {
    font-size: 20px;
    color: #AAA;
  }
  #nav-center ul li {
    padding-top: 0px;
    padding-left: 15px;
  }
  #nav-bottom {
    position: absolute;
    height: 40px;
    bottom: 0;
    right: 10px;
    margin-bottom: 6px;
  }
  #nav-bottom .pull-left {
    position: absolute;
    right: 20px;
    margin-top: 2px;
    margin-right: 15px;
    z-index: 1000001;
  }
  #nav-bottom .pull-right {
    display: block;
    font-size: 25px;
    color: #6D6D6D;
  }

  /* ### Ajustes de conteudo ### */
  #section-content {
    padding: 0px;
    padding-left: 0px !important;
    margin-bottom: 60px !important;
  }
  
  #experiencia-tuttemob {
	  display: none !important;  
  }
  
  .section-8-4 div.col-md-8 {
    position: relative;
  }
  .section-8-4 div.col-md-4 {
    float: none;
  }

  #section-desktop,
  #section-desktop-descubra,
  #section-desktop-franquias,
  #section-desktop-contatos {
    display: none
  }
  #section-mobile,
  #section-mobile-descubra,
  #section-mobile-franquias,
  #section-mobile-contatos {
    display: block
  }

  /* ### Mobile Login ###  */
  #section-login .section-background img {
    margin-top: -20px;
  }
  #section-login div.col-xs-9 {
    top: auto;
    margin-top: 0;
    padding: 15px;
    bottom: 10px;
  }
  #section-login div.col-xs-9 h2 {
    font-size: 28px;
    line-height: 29px;
    margin: 0;
  }
  #section-login div.col-xs-9 p {
    display: inline;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
  }
  #section-login .col-md-4 {
    position: relative;
    min-height: auto;
    width: 100%;
    padding-top: 0;
  }
  #section-login .login #formLogin {
    margin: 0;
    max-width: 100%;
  }
  #section-login .login .form-group {
    margin-top: 20px;
  }
  #section-login .login .form-group label {
    display: none;
  }
  #section-login .help-block {
    display: none;
  }
  #section-login .login .entrar-form {
    width: 50%;
    float: right;
    margin-top: 5px;
  }
  #section-login .login .entrar-form button {
    color: #FFF !important;
    background: #F73F80 !important;
    border: none !important;
    padding: 8px 0px !important;
    font-size: 14px !important;
    width: 90%;
    margin: 0 auto;
  }
  #section-login .login .entrar-facebook {
    width: 50%;
    float: left;
    margin-top: 5px;
  }
  #section-login .login .entrar-facebook button {
    color: #F73F80 !important;
    background: #FFF !important;
    border: none !important;
    padding: 10px 0px !important;
    font-size: 13px !important;
  }

  /* ### Mobile Navegação ###  */
  .section-mobile #navigator {
    z-index: 1000000;
    transform: translate(-50%, 0%);
    left: 50% !important;
    top: auto !important;
    right: auto !important;
  }
  .section-mobile #navigator .i {
    top: 5px !important;
  }
  .section-mobile #navigator .i svg {
    fill: gray;
  }
  .section-mobile #navigator .iav svg {
    fill: #000;
  }
  
  /* ### TELA INICIAL ### */
  #section-mobile a.pbutton {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    background: #F73F80;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 60px;
  }
  
  #section-mobile .section-apresentacao .section-page {
    position: absolute;
    bottom: 130px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao #p1 img {
    width: 50%;
  }
  #section-mobile .section-apresentacao #p2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  #section-mobile .section-apresentacao #p3 {
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
    margin-top: -15px;
  }

  #section-mobile .section-apresentacao2 img {
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao2 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #FFF;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao2 #p2 {
    font-size: 24px;
  }
  #section-mobile .section-apresentacao2 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile .section-apresentacao2 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  #section-mobile .section-apresentacao3 img {
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao3 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao3 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile .section-apresentacao3 a.pbutton {
    background: #F73F80;
    color: #FFF;
    bottom: 0px;
  }

  #section-mobile .section-apresentacao4 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }
  
  /* ### TELA FRANQUIAS ### */
  #section-mobile-franquias .section-1,
  #section-mobile-franquias .section-2 {
      padding: 0;
  }
  #section-mobile-franquias .section-1 .section-background img {
    margin-top: -30px;
  }
  #section-mobile-franquias .section-1 .section-page {
    position: absolute;
    bottom: auto;
    top: 57%;
    color: #FFF;
    transform: translate(15px, 0%);
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
  }
  #section-mobile-franquias .section-1 .section-1-content {
      color: #AAA;
      font-size: 18px;
      line-height: 20px;
      margin-top: -10%;
      background: #FFF;
      position: absolute;
      padding: 30px 15px;
  }
  #section-mobile-franquias .section-2 .section-2-form h2 {
    color: #F73F80;
    font-weight: bold;
  }
  #section-mobile-franquias .section-2 .section-2-form .form-group {
    margin: 0 -15px;
  }
  #section-mobile-franquias .section-2 .section-2-form .form-group label {
    margin-top: 5px;
    font-size: 14px;
  }
  #section-mobile-franquias .section-2 #section-2-googlemap {
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }
  #section-mobile-franquias .section-2 .section-2-central {
      padding: 30px 0; 
      margin-bottom: 50px;
      display: inline-block;
  }
  #section-mobile-franquias .section-2 .section-2-central span {
      font-size: 60px;
      color: #F73F80;
      margin-left: -10px; 
  }
  #section-mobile-franquias .section-2 .section-2-central .p1 {
    color: #F73F80;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    margin: 0;
  }
  #section-mobile-franquias .section-2 .section-2-central .p2 {
    color: #F73F80;
    font-size: 14px;
  }
  #section-mobile-franquias .section-2 .section-2-central #experiencia-tuttemob2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px; 
  }
  #section-mobile-franquias .section-2 .section-2-central #experiencia-tuttemob2 a {
    padding: 5px 10px;
  }

  /* ### TELA CONTATOS ### */
  #section-mobile-contatos {
  padding: 0px;
}
#section-mobile-contatos .topo-contatos {
	background-image: url('../img/layout/logo-icone.png');
	background-repeat:repeat-x;
	width: 100%;
    height: 110px;
}
#section-mobile-contatos .corpo {
	padding-top: 0px;
	margin-left: 0px;
}
#section-mobile-contatos .p1 {
	color: #FF6FA3;
	padding-top: 20px;
	font-size: 30px;
    font-weight: 700;
    line-height: 30px;	
}
#section-mobile-contatos .p2 {
	color: #AAA;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
}
#section-mobile-contatos #bottom-social {
  width: 230px;
  height: 30px;
  padding: 0px;
  margin-left: -40px;
}
#section-mobile-contatos #bottom-social ul {
  list-style: none;
}
#section-mobile-contatos #bottom-social ul li {
  display: inline;
}
#section-mobile-contatos #bottom-social ul li img {
  height: 30px;
}
#section-mobile-contatos .pull-right {
  display: none;
}    

#section-mobile-contatos .col-md-5 {
  width: 100%;
  padding-bottom: 70px;
}  
	
  /* ### TELA DESCUBRA ### */
  #section-mobile-descubra .section-descubra1-link1 img {
    margin-top: -60px;
  }
  #section-mobile-descubra .section-descubra1-link1 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #FFF;
    transform: translate(5%, 0%);
  }
  #section-mobile-descubra .section-descubra1-link1 #p2 {
    font-size: 24px;
  }
  #section-mobile-descubra .section-descubra1-link1 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile-descubra .section-descubra1-link1 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  #section-mobile-descubra .section-descubra2-link1 img {
    margin-top: -60px;
  }
  #section-mobile-descubra .section-descubra2-link1 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile-descubra .section-descubra2-link1 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile-descubra .section-descubra2-link1 a.pbutton {
    background: #F73F80;
    color: #FFF;
    bottom: 0px;
  }

  #section-mobile-descubra .section-descubra3-link1 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  /* ### TELA CLIENTES ### */
  #section-depoimentos-tela1 h2 {
    font-size: 30px;
    line-height: 32px;
  }
  #section-depoimentos-tela1 p {
    display: none;
    max-width: 100%;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
  #section-depoimentos-tela1 p.p-mobile {
    display: block !important;
  }
  #section-depoimentos-tela1,
  #section-depoimentos-tela1 .col-md-12 {
    margin-top: 0;
    float: left;
  }
  #section-depoimentos-tela1 div.col-xs-12 {
    padding-left: 15px !important;
  }
  #section-depoimentos-tela2 {
    float: left;
    width: 100%;
    margin-top: 60px;
  }
  #section-depoimentos-tela2 .carousel .item img {
    height: 100% !important;
  }
  #section-depoimentos-tela2 .box {
    position: absolute;
    width: 70% !important;
    right: 10%;
    left: auto;
    top: -30px;
    margin: 0;
    padding: 15px;
    padding-right: 15px;
  }
  #section-depoimentos-tela2 .p1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 0;
  }
  #section-depoimentos-tela2 .p2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  #section-depoimentos-tela2 .carousel-caption {
    position: relative;
  }
  #section-depoimentos-tela2 .carousel-indicators {
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -35% !important;
    z-index: 1000000;
    padding: 0 !important;
  }
  #section-depoimentos-tela2 .carousel-indicators li {
    margin-left: 10px;
  }
  #section-depoimentos-tela3 {
    float: left;
    width: 100%;
    max-width: 100%;
    transform: none;
    margin-top: -60px;
  }
  #section-depoimentos-tela3 .col-xs-9 {
    display: none;
  }
  #section-depoimentos-tela3 .col-md-12 {
    float: left;
    width: 100%;
  }
  #section-depoimentos-tela3 #experiencia-tuttemob2 {
    margin: 0 auto;
    margin-top: 20px;
  }
  #section-depoimentos-tela3 #experiencia-tuttemob2 a {
    padding: 5px 15px;
  }
  #section-depoimentos-tela3 p {
    display: none;
  }

  /* ### Demais ajustes ###*/
  #section-ambientes div.col-md-5 {
	padding-top: 20px !important;
	/*text-align: center;*/
  }
  
  #section-ambientes div.col-md-7 {
	padding-top: 20px !important; 
  }
  
  #section-quemsomos {
  	left: 10% !important;
  }
  
  #section-quemsomos-interno {
    width: 100% !important;
  }
  
  #section-contatos #col-direita .col-xs-3 {
    display: none;
  }
  #section-contatos #col-direita .col-xs-9 {
    width: 100%;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 500px){
  #section-mobile .section-apresentacao3 img {
    margin-left: -20%;
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao4 img {
    margin-left: -45%;
    margin-top: -60px;
  }
}