.show-mobile,
#section-mobile,
#section-mobile-descubra,
#section-mobile-franquias,
#section-mobile-contatos,
#section-briefings-mobile,
#section-confirmar-mobile,
#section-mobile-sobrenos {
  display: none
}

@media screen and (max-width: 800px){
  /* ### Menu Mobile ### */
  #menu-nav-left {
    position: fixed;
    width: 100% !important;
    height: 60px;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 100023;
    background: #FFF;
    overflow: hidden;
    padding: 10px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    border-right: none;
    border-top: 1px #A04D87 solid;
  }
  #menu-nav-left.active {
    width: 100%;
    height: 380px;
  }
  
  #nav-top {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
  }
  #nav-top img {
    margin-left: 0;
    height: 40px;
  }
  #nav-center {
    display: none;
    position: absolute;
    width: 400px;
    height: 320px;
    top: 0;
    margin-top: 0;
    padding-top: 20px;
  }
  #nav-center ul {
    font-size: 20px;
    color: #AAA;
  }
  #nav-center ul li {
    padding-top: 0px;
    padding-left: 15px;
  }
  #nav-bottom {
    position: absolute;
    height: 40px;
    bottom: 0;
    right: 10px;
    margin-bottom: 6px;
  }
  #nav-bottom .pull-left {
    position: absolute;
    right: 20px;
    margin-top: 2px;
    margin-right: 15px;
    z-index: 1000001;
  }
  #nav-bottom .pull-right {
    display: block;
    font-size: 25px;
    color: #6D6D6D;
  }

  /* ### Ajustes de conteudo ### */
  #section-content {
    padding: 0px;
    padding-left: 0px !important;
    margin-bottom: 60px !important;
  }
  
  #experiencia-tuttemob {
	  display: none !important;  
  }
  
  .section-8-4 div.col-md-8 {
    position: relative;
  }
  .section-8-4 div.col-md-4 {
    float: none;
  }

  #section-desktop,
  #section-desktop-descubra,
  #section-desktop-franquias,
  #section-desktop-contatos,
  #section-desktop-sobrenos {
    display: none
  }
  #section-mobile,
  #section-mobile-descubra,
  #section-mobile-franquias,
  #section-mobile-contatos,
  #section-mobile-sobrenos {
    display: block
  }

  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }

  /* ### Mobile Login - Confirmação ###  */
  #section-login .section-background img,
  #section-confirmacao .section-background img {
    margin-top: -20px;
  }
  #section-login div.col-xs-9,
  #section-confirmacao div.col-xs-9 {
    top: auto;
    margin-top: 0;
    padding: 15px;
    bottom: 10px;
  }
  #section-login div.col-xs-9 h2 {
    font-size: 28px;
    line-height: 29px;
    margin: 0;
  }
  #section-confirmacao div.col-xs-9 h2 {
    font-size: 35px;
    line-height: initial;
    margin-bottom: 20px;
  }
  #section-login div.col-xs-9 p {
    display: inline;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
  }
  #section-login .col-md-4,
  #section-confirmacao .col-md-4 {
    position: relative;
    min-height: auto;
    width: 100%;
    padding-top: 0;
  }
  #section-confirmacao .col-md-4 {
    /*padding-bottom: 100%;*/
  }
  #section-login .login #formLogin {
    margin: 0;
    max-width: 100%;
  }
  #section-login .login .form-group {
    margin-top: 20px;
  }
  #section-login .login .form-group label {
    display: none;
  }
  #section-login .help-block {
    display: none;
  }
  #section-login .login .entrar-form {
    width: 50%;
    float: right;
    margin-top: 5px;
  }
  #section-login .login .entrar-form button {
    color: #FFF !important;
    background: #F73F80 !important;
    border: none !important;
    padding: 8px 0px !important;
    font-size: 14px !important;
    width: 90%;
    margin: 0 auto;
  }
  #section-login .login .entrar-facebook {
    width: 50%;
    float: left;
    margin-top: 5px;
  }
  #section-login .login .entrar-facebook button {
    color: #F73F80 !important;
    background: #FFF !important;
    border: none !important;
    padding: 10px 0px !important;
    font-size: 13px !important;
  }

  #section-confirmacao .col-md-4 .col-xs-9 {
    position: relative;
    margin-bottom: 0;
    bottom: auto;
    top: 0;
    padding: 5px;
  }

  #section-confirmacao .col-md-4 .col-xs-9 h2 {
    font-size: 28px;
  }

  #section-confirmacao .col-md-4 .col-xs-9 p {
    margin: 0;
    font-size: 15px;
    line-height: initial;    
  }

  /* ### Mobile Navegação ###  */
  .section-mobile #navigator {
    z-index: 1000000;
    transform: translate(-50%, 0%);
    left: 50% !important;
    top: auto !important;
    right: auto !important;
  }
  .section-mobile #navigator .i {
    top: 5px !important;
  }
  .section-mobile #navigator .i svg {
    fill: gray;
  }
  .section-mobile #navigator .iav svg {
    fill: #000;
  }
  
  /* ### TELA INICIAL ### */
  #section-mobile a.pbutton {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    background: #F73F80;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 60px;
  }
  
  #section-mobile .section-apresentacao .section-page {
    position: absolute;
    bottom: 130px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao #p1 img {
    width: 50%;
  }
  #section-mobile .section-apresentacao #p2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  #section-mobile .section-apresentacao #p3 {
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
    margin-top: -15px;
  }

  #section-mobile .section-apresentacao2 img {
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao2 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #FFF;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao2 #p2 {
    font-size: 24px;
  }
  #section-mobile .section-apresentacao2 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile .section-apresentacao2 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  #section-mobile .section-apresentacao3 img {
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao3 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile .section-apresentacao3 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile .section-apresentacao3 a.pbutton {
    background: #F73F80;
    color: #FFF;
    bottom: 0px;
  }

  #section-mobile .section-apresentacao4 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }
  
  /* ### TELA FRANQUIAS ### */
  #section-mobile-franquias .section-1,
  #section-mobile-franquias .section-2 {
      padding: 0;
  }
  #section-mobile-franquias .section-1 .section-background img {
    margin-top: -30px;
  }
  #section-mobile-franquias .section-1 .section-page {
    position: absolute;
    bottom: auto;
    top: 57%;
    color: #FFF;
    transform: translate(15px, 0%);
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
  }
  #section-mobile-franquias .section-1 .section-1-content {
      color: #AAA;
      font-size: 18px;
      line-height: 20px;
      margin-top: -10%;
      background: #FFF;
      position: absolute;
      padding: 30px 15px;
  }
  #section-mobile-franquias .section-2 .section-2-form h2 {
    color: #F73F80;
    font-weight: bold;
  }
  #section-mobile-franquias .section-2 .section-2-form .form-group {
    margin: 0 -15px;
  }
  #section-mobile-franquias .section-2 .section-2-form .form-group label {
    margin-top: 5px;
    font-size: 14px;
  }
  #section-mobile-franquias .section-2 #section-2-googlemap {
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }
  #section-mobile-franquias .section-2 .section-2-central {
      padding: 30px 0; 
      margin-bottom: 50px;
      display: inline-block;
  }
  #section-mobile-franquias .section-2 .section-2-central span {
      font-size: 60px;
      color: #F73F80;
      margin-left: -10px; 
  }
  #section-mobile-franquias .section-2 .section-2-central .p1 {
    color: #F73F80;
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
    margin: 0;
  }
  #section-mobile-franquias .section-2 .section-2-central .p2 {
    color: #F73F80;
    font-size: 14px;
  }
  #section-mobile-franquias .section-2 .section-2-central #experiencia-tuttemob2 {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px; 
  }
  #section-mobile-franquias .section-2 .section-2-central #experiencia-tuttemob2 a {
    padding: 5px 10px;
  }

  /* ### TELA CONTATOS ### */
  #section-mobile-contatos {
  padding: 0px;
}
#section-mobile-contatos .topo-contatos {
	background-image: url('../img/layout/logo-icone.png');
	background-repeat:repeat-x;
	width: 100%;
    height: 110px;
}
#section-mobile-contatos .corpo {
	padding-top: 0px;
	margin-left: 0px;
}
#section-mobile-contatos .p1 {
	color: #FF6FA3;
	padding-top: 20px;
	font-size: 30px;
    font-weight: 700;
    line-height: 30px;	
}
#section-mobile-contatos .p2 {
	color: #AAA;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
}
#section-mobile-contatos #bottom-social {
  width: 230px;
  height: 30px;
  padding: 0px;
  margin-left: -40px;
}
#section-mobile-contatos #bottom-social ul {
  list-style: none;
}
#section-mobile-contatos #bottom-social ul li {
  display: inline;
}
#section-mobile-contatos #bottom-social ul li img {
  height: 30px;
}
#section-mobile-contatos .pull-right {
  display: none;
}    

#section-mobile-contatos .col-md-5 {
  width: 100%;
  padding-bottom: 70px;
}  
	
  /* ### TELA DESCUBRA ### */
  #section-mobile-descubra .section-descubra1-link1 img {
    margin-top: -60px;
  }
  #section-mobile-descubra .section-descubra1-link1 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #FFF;
    transform: translate(5%, 0%);
  }
  #section-mobile-descubra .section-descubra1-link1 #p2 {
    font-size: 24px;
  }
  #section-mobile-descubra .section-descubra1-link1 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile-descubra .section-descubra1-link1 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  #section-mobile-descubra .section-descubra2-link1 img {
    margin-top: -60px;
  }
  #section-mobile-descubra .section-descubra2-link1 .section-page {
    position: absolute;
    bottom: 80px;
    top: auto;
    color: #F73F80;
    transform: translate(5%, 0%);
  }
  #section-mobile-descubra .section-descubra2-link1 #p3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    margin-top: -5px;
  }
  #section-mobile-descubra .section-descubra2-link1 a.pbutton {
    background: #F73F80;
    color: #FFF;
    bottom: 0px;
  }

  #section-mobile-descubra .section-descubra3-link1 a.pbutton {
    color: #F73F80;
    background: #FFF;
    bottom: 0px;
  }

  /* ### TELA CLIENTES ### */
  #section-depoimentos-tela1 h2 {
    font-size: 30px;
    line-height: 32px;
  }
  #section-depoimentos-tela1 p {
    display: none;
    max-width: 100%;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
  #section-depoimentos-tela1 p.p-mobile {
    display: block !important;
  }
  #section-depoimentos-tela1,
  #section-depoimentos-tela1 .col-md-12 {
    margin-top: 0;
    float: left;
  }
  #section-depoimentos-tela1 div.col-xs-12 {
    padding-left: 15px !important;
  }
  #section-depoimentos-tela2 {
    float: left;
    width: 100%;
    margin-top: 60px;
  }
  #section-depoimentos-tela2 .carousel .item img {
    height: 100% !important;
  }
  #section-depoimentos-tela2 .box {
    position: absolute;
    width: 70% !important;
    right: 10%;
    left: auto;
    top: -30px;
    margin: 0;
    padding: 15px;
    padding-right: 15px;
  }
  #section-depoimentos-tela2 .p1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 0;
  }
  #section-depoimentos-tela2 .p2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  #section-depoimentos-tela2 .carousel-caption {
    position: relative;
  }
  #section-depoimentos-tela2 .carousel-indicators {
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -35% !important;
    z-index: 1000000;
    padding: 0 !important;
  }
  #section-depoimentos-tela2 .carousel-indicators li {
    margin-left: 10px;
  }
  #section-depoimentos-tela3 {
    float: left;
    width: 100%;
    max-width: 100%;
    transform: none;
    margin-top: -60px;
  }
  #section-depoimentos-tela3 .col-xs-9 {
    display: none;
  }
  #section-depoimentos-tela3 .col-md-12 {
    float: left;
    width: 100%;
  }
  #section-depoimentos-tela3 #experiencia-tuttemob2 {
    margin: 0 auto;
    margin-top: 20px;
  }
  #section-depoimentos-tela3 #experiencia-tuttemob2 a {
    padding: 5px 15px;
  }
  #section-depoimentos-tela3 p {
    display: none;
  }
 
  /* ### TELA SOBRE NÓS ### */ 
  #section-mobile-sobrenos .section-1,
  #section-mobile-sobrenos .section-2 {
      padding: 0;
  }
  #section-mobile-sobrenos .section-1 .section-background img {
    margin-top: -30px;
  }
  #section-mobile-sobrenos .section-1 .section-page {
    position: absolute;
    bottom: auto;
    top: 75%;
    color: #FFF;
    transform: translate(20px, 0%);
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
  }
  #section-mobile-sobrenos .section-1 .section-page .p1 {
    color: #FFF;
  }
  #section-mobile-sobrenos .section-1 .section-page .p2,
  #section-mobile-sobrenos .section-1 .section-page .p11 {
    color: #FF6FA3;
    transform: translate(0px, 10%);
    width: 80%;
  }
  #section-mobile-sobrenos .section-1 .section-page .p3,
  #section-mobile-sobrenos .section-1 .section-page .p4,
  #section-mobile-sobrenos .section-1 .section-page .p10 {
    color: #AAA;
    /*transform: translate(0px, 15%);*/
    font-size:18px;
    line-height: 22px;
    width: 80%;
    font-weight: normal;
  }
  #section-mobile-sobrenos .section-1 .section-page .p3 {
  	padding-top: 10px;
  }
  #section-mobile-sobrenos .section-1 .section-page .p4 {
  	padding-top: 10px;
  }
  #section-mobile-sobrenos .box {
	background: #FF6FA3;
	height: auto;
	margin-left: -20px;
    /*transform: translate(0px, 5%);*/
    padding: 20px;
  }
  #section-mobile-sobrenos .section-1 .section-page .p5,
  #section-mobile-sobrenos .section-1 .section-page .p6,
  #section-mobile-sobrenos .section-1 .section-page .p7,
  #section-mobile-sobrenos .section-1 .section-page .p8,
  #section-mobile-sobrenos .section-1 .section-page .p9 {
    color: #FFF;
    width: 80%;
  }
  #section-mobile-sobrenos .section-1 .section-page .p6,
  #section-mobile-sobrenos .section-1 .section-page .p8 {
    font-size:18px;
    line-height: 22px;
    font-weight: normal;
    width: 90%;
  }
  #section-mobile-sobrenos .section-1 .section-page .p7 {
    padding-top: 30px;
  }
  #section-mobile-sobrenos .section-1 .section-page .p9 {
    color: #AAA;
    position: relative;
    padding-top: 20px;
  }
  #section-mobile-sobrenos .section-1 .section-page #experiencia-tuttemob2 {
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 15%;
  }
  #section-mobile-sobrenos .section-1 .section-page #experiencia-tuttemob2 a {
    padding: 5px 15px;
  }


  /* ### LOGADO: TELA INICIAL ### */
  #section-briefings .col-md-8,
  #section-briefings .col-md-4 {
    display: none;
  }
  #section-briefings-mobile {
    display: block;
    float: left;
    padding-bottom: 70px;
  }
  #section-briefings-mobile .brief-telas {
    display: none;
  }
  .brief-telas h2 {
    color: #FF6FA3;
    padding: 0;
    padding-bottom: 15px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }
  .brief-telas p {
    color: rgb(187, 187, 187);
    font-size: 22px;
    line-height: 24px;
  }
  .brief-telas p b {
    color: #AAA;
  }
  .brief-telas a {
    margin-top: 20px;
    padding: 10px 35px;
    background: #F73F80;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
  }
  .brief-telas .brief-telas-title {
    padding: 0;
  }
  .brief-telas .brief-telas-title h2 {
    padding-bottom: 0;
  }
  .brief-telas .brief-telas-title p {
    font-size: 18px;
    line-height: 20px;
    color: #FF6FA3;
    font-weight: normal;
  }
  .brief-telas .brief-telas-title p b {
    color: rgb(255, 40, 119);
    font-weight: 700;
  }
  #section-briefings-mobile .tela-inicio-item {
    display: flow-root;
    margin: 5px 0;
  }
  #section-briefings-mobile button.inicio-item-novo {
    border: 1px #AAA solid;
    background: #FFF;
    padding: 0;
    height: 25px;
    width: 25px;
  }
  #section-briefings-mobile button.inicio-item-novo .glyphicon-plus:before {
    color: #AAA;
    margin-left: 1px;
  }
  #section-briefings-mobile button.inicio-item-total {
    border: 1px rgb(160, 160, 160) solid;
    background: rgb(160, 160, 160);
    color: #FFF;
    padding: 0;
    height: 25px;
    width: 25px;
  }
  #section-briefings-mobile button.inicio-item-total-red {
    background: #F73F80;
  }
  #section-briefings-mobile #brief-tela-inicio a {
    float: right;
    margin-right: -15px;
    padding: 8px 10px;
    margin-top: 20px;
  }
  /* ajustes nas modais */
  #section-briefings .modal-content {
    margin-bottom: 70px;
  }
  #section-briefings .modal .col-sm-4 {
    float: left;
    width: 40%;
    padding: 0;
    font-size: 14px !important;
  }
  #section-briefings .modal .col-sm-8 {
    float: left;
    width: 60%;
    padding-right: 0;
  }
  #section-briefings .modal .col-sm-8 .col-md-6 {
    float: left;
    width: 50%;
    padding: 0;
  }
  #section-briefings .modal .col-xs-12 {
    padding-right: 0;
  }
  #section-briefings .form-group label {
    font-size: 14px !important;
  }
  #section-briefings .form-group label[for*="preferenciacores-3"] {
    font-size: 10px !important;
  }
  #section-briefings .form-group input[type="checkbox"] + label[for*="preferenciacores-3"]:before,
  #section-briefings .form-group input[type="checkbox"]:checked + label[for*="preferenciacores-3"]:before {
    margin: 0px;
    margin-right: 4px;
  }

  /* ### LOGADO: TELA CONFIRMAR ### */
  .briefing-complemento-step {
    display: none;
  }
  #section-confirmar-mobile {
    display: block;
    float: left;
    padding-bottom: 70px;
  }
  #section-confirmar-mobile .brief-confirmar-item {
    float: left;
    width: 100%;
    margin: 5px 0px;
  }
  #section-confirmar-mobile .brief-confirmar-item button {
    width: 100%;
    padding: 15px 0px;
    padding-left: 20px;
    text-align: left;
    font-size: 24px;
    line-height: 25px;
    background: #FFF;
    color: #AAA;
    border: 1px #AAA solid;
  }
  #section-confirmar-mobile .brief-confirmar-item button span {
    font-size: 20px;
  }
  #briefing-videos,
  #briefing-arquivos1,
  #briefing-vendedor {
    margin-bottom: 60px;
  }
  #briefing-videos .col-md-8 div.col-xs-9,
  #briefing-arquivos1 .col-md-8 div.col-xs-9,
  #briefing-vendedor .col-md-8 div.col-xs-9 {
    padding-left: 15px;
    font-size: 20px;
    line-height: 25px;
    top: auto;
    margin-top: 0;
    bottom: 25px;
  }
  #briefing-videos .col-md-4,
  #briefing-arquivos1 .col-md-4,
  #briefing-vendedor .col-md-4 {
    padding: 15px;
    margin: 0;
    width: 100%;
    min-width: auto;
    position: relative;
  }
  #briefing-videos .col-md-4 .col-xs-12,
  #briefing-arquivos1 .col-md-4 .col-xs-12,
  #briefing-arquivos1 .col-md-4 .col-md-12,
  #briefing-vendedor .col-md-4 .col-xs-12 {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  #briefing-arquivos1 form,
  #briefing-vendedor form {
    padding: 0;
  }
  #briefing-arquivos1 form .col-xs-6,
  #briefing-vendedor form .col-xs-6 {
    padding: 0 5px;
  }
  #briefing-videos .col-xs-6 .btn-voltar-mobile,
  #briefing-arquivos1 form .col-xs-6 .btn-voltar-mobile,
  #briefing-vendedor form .col-xs-6 .btn-voltar-mobile {
    border: none;
    color: rgb(255, 127, 172) !important;
    padding: 10px 5px;
    background: #FFF !important;
  }
  #briefing-videos .col-xs-6 .btn-avancar,
  #briefing-arquivos1 form .col-xs-6 .btn-avancar,
  #briefing-vendedor form .col-xs-6 .btn-avancar {
    padding: 10px 5px;
    border: none;
    border-radius: 0;
  }
  .briefing-complemento-step .col-md-8 .col-xs-9 h2 {
    font-size: 30px;
    line-height: 32px;
    margin-right: 0px;
    margin: 0;
  }
  #briefing-obrigado-vendedor h2, #briefing-obrigado-arquivos h2 {
    text-align: left;
    margin-top: 40px;
  }
  #briefing-obrigado-vendedor .p1, #briefing-obrigado-arquivos .p1,
  #briefing-obrigado-vendedor .p2, #briefing-obrigado-arquivos .p2 {
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 27px;
    margin-top: 15px;
  }
  #briefing-obrigado-vendedor .modal-content,
  #briefing-obrigado-arquivos .modal-content {
    margin-bottom: 60px;
  }

  #briefing-videos .col-md-8 .col-xs-9 h2 br,
  #briefing-arquivos1 .col-md-8 .col-xs-9 h2 br {
    display: none;
  }
  #briefing-videos .col-md-8 .col-xs-9 p,
  #briefing-arquivos1 .col-md-8 .col-xs-9 p {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
  }
  #briefing-videos .col-md-8 .col-xs-9 p br {
    display: none;
  }
  #briefing-arquivos1 .col-xs-12 .col-xs-8,
  #briefing-arquivos1 .col-xs-12 .col-xs-4 {
    width: 50%;
  }
  #briefing-videos .col-md-4 .col-xs-12 p,
  #briefing-arquivos1 .col-md-4 .col-xs-12 p {
    font-size: 22px;
    text-align: left;
    margin-top: 0px !important;
  }
  
  #briefing-videos .col-md-4 .col-xs-12 p.sub,
  #briefing-arquivos1 .col-md-4 .col-xs-12 p.sub {
    font-size: 14px;
  }
  #briefing-arquivos1 .form-horizontal .form-group {
    margin: 0;
  }
  #briefing-videos .col-md-4 .col-xs-12 p {
    display: none;
  }
  #briefing-videos .icone-download {
    margin-left: 0px;
    width: auto;
    height: auto;
  }
  #briefing-videos .icone-download img {
    width: 28px;
  }
  #briefing-videos .col-md-4 .col-xs-12 p.pdownload {
    display: block;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    padding-top: 15px;
    padding-left: 40px;
    width: 100%;
    margin-bottom: 15px;
  }
  #briefing-videos .col-md-4 .col-xs-12 h2 {
    display: inline;
    font-size: 20px;
  }
  #briefing-videos .col-md-4 .col-xs-12 p.p2 {
    display: inline;
    font-size: 17px;
    line-height: 19px;
    color: #AAA;
  }
  #briefing-videos .col-md-4 .col-xs-12 .imgYoutube {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -5px;
    width: 100%;
  }
  
  /* ### Demais ajustes ###*/
  #section-ambientes div.col-md-5 {
	padding-top: 20px !important;
	/*text-align: center;*/
  }
  
  #section-ambientes div.col-md-7 {
	padding-top: 20px !important; 
  }
  
  #section-quemsomos {
  	left: 10% !important;
  }
  
  #section-quemsomos-interno {
    width: 100% !important;
  }
  
  #section-contatos #col-direita .col-xs-3 {
    display: none;
  }
  #section-contatos #col-direita .col-xs-9 {
    width: 100%;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 500px){
  #section-mobile .section-apresentacao3 img {
    margin-left: -20%;
    margin-top: -60px;
  }
  #section-mobile .section-apresentacao4 img {
    margin-left: -45%;
    margin-top: -60px;
  }
}